<ul class="nav nav-pills nav-stacked">
  <li class="<%= active_page(:notifications) %>">
    <%= link_to mailbox_notifications_path do  %>
        <span class="label label-danger pull-right"><%=unread_notification_count%></span>
        <i class="fa fa-flag" aria-hidden="true"></i>
        <span>Notifications</span>
    <% end %>
  </li>
  <li class="<%= active_page(:inbox) %>">
    <%= link_to mailbox_inbox_path do  %>
        <span class="label label-danger pull-right"><%=unread_messages_count%></span>
        <em class="fa fa-inbox fa-lg"></em>
        <span>Inbox</span>
    <% end %>
  </li>
  <li class="<%= active_page(:compose) %>">
        <%= link_to new_conversation_path do%>
        <em class="fa fa-pencil fa-lg"></em>
        <span>Compose</span>
      <% end %>
  </li>
  <li class="<%= active_page(:sent) %>">
    <%= link_to mailbox_sent_path do %>

        <em class="fa fa-paper-plane-o fa-lg"></em>
        <span>Sent</span>
    <% end %>
  </li>

  <li class="<%= active_page(:trash) %>">
    <%= link_to mailbox_trash_path do %>
        <em class="fa fa-trash-o fa-lg"></em>
        <span>Trash</span>
    <% end %>
  </li>
</ul>
